// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.navbar .column-third, .navbar .column {
  padding: 10px 0;
  border-top: 1px solid $grey-2;
  border-bottom: 1px solid $grey-2;
  background-color: $grey-4;
  text-align: center;

  @include media(mobile) {
    border-top: none;
  }

}

.navbar .column-third.active, .navbar .column.active {
  border-top: 1px solid $govuk-blue;
  border-bottom: 1px solid $govuk-blue;
  background-color: $govuk-blue;
  color: $white;
  font-weight: bold;

  @include media(mobile) {
    border-top: none;
  }

}

.govuk-box-highlight.govuk-blue {
  background: $govuk-blue;
}

.todo a {
  margin-bottom: 20px;
  padding: 15px 15px 0px 15px;
  border: 1px solid $grey-2;
  background-color: $grey-4;
  box-sizing: border-box;
  display: block;
}

.todo.new a {
  border-left: 5px solid $govuk-blue;
}

.todo.in-progress a {
  border-left: 5px solid $yellow;
}

.todo.overdue a {
  border-left: 5px solid $red;
}

.complete {
  background: $grey-2;
  -webkit-animation: fadein 0.6s ease-in-out, fadeout 0.6s 0.6s ease-in-out forwards; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.6s ease-in-out, fadeout 0.6s 0.6s ease-in-out forwards; /* Firefox < 16 */
      -ms-animation: fadein 0.6s ease-in-out, fadeout 0.6s 0.6s ease-in-out forwards; /* Internet Explorer */
       -o-animation: fadein 0.6s ease-in-out, fadeout 0.6s 0.6s ease-in-out forwards; /* Opera < 12.1 */
          animation: fadein 0.6s ease-in-out, fadeout 0.6s 0.6s ease-in-out forwards;
}

// Keyframe animations

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { background: $grey-2; }
    to   { background: none; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadeout {
    from { background: $grey-2; }
    to   { background: none; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { background: $grey-2; }
    to   { background: none; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadeout {
    from { background: $grey-2; }
    to   { background: none; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadeout {
    from { background: $grey-2; }
    to   { background: none; }
}
