{% extends "layout_unbranded.html" %}

{% block page_title %}
  #sprintweek prototype
{% endblock %}

{% block content %}

{% include "includes/navigation_home.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        <script language="JavaScript">
          var myDate = new Date();

          /* hour is before noon */
          if ( myDate.getHours() < 12 )
          {
              document.write("Good Morning");
          }
          else  /* Hour is from noon to 5pm (actually to 5:59 pm) */
          if ( myDate.getHours() >= 12 && myDate.getHours() <= 17 )
          {
              document.write("Good Afternoon");
          }
          else  /* the hour is after 5pm, so it is between 6pm and midnight */
          if ( myDate.getHours() > 17 && myDate.getHours() <= 24 )
          {
              document.write("Good Evening");
          }
          else  /* the hour is not between 0 and 24, so something is wrong */
          {
              document.write("Hello");
          }
        </script>
        John Smith
      </h1>

      <p class="lede">
        You have <a href="todo">1 new to-do</a>.
      </p>

      <h2 class="heading-large">
        A-Z Glossary
      </h2>

      <table>
        <tbody>
          <tr style="border-top:1px solid #bfc1c3;">
            <td class="bold-xsmall">A</td>
            <td>Lorem ipsum dolor sit amet.</td>
          </tr>
          <tr>
            <td class="bold-xsmall">B</td>
            <td>Lorem ipsum dolor sit amet.</td>
          </tr>
          <tr>
            <td class="bold-xsmall">C</td>
            <td>Lorem ipsum dolor sit amet.</td>
          </tr>
          <tr>
            <td class="bold-xsmall">D</td>
            <td>Lorem ipsum dolor sit amet.</td>
          </tr>
          <tr>
            <td class="bold-xsmall">E</td>
            <td>Lorem ipsum dolor sit amet.</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</main>

{% endblock %}
