{% extends "layout_unbranded.html" %}

{% block page_title %}
  #sprintweek prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        #sprintweek
      </h1>

      <h2 class="heading-large">
        The goal
      </h2>

      <p>
        To have a platform that: can be customised to the content and timescales associated with the delivery intent; promotes internal engagement; can be monitored, reported and understood; can be reused.
      </p>

      <h2 class="heading-large">
        The prototype
      </h2>

      <p>
        On Wednesday of #sprintweek the decision was made to focus the prototype for testing with front-line staff:
      </p>

      <ul class="list list-bullet">
        <li>How would they interact with the platform?</li>
        <li>Could they be given ownship of their own tasks?</li>
        <li>Could we introduce future patterns as part of their learning?</li>
      </ul>

      <a href="access-account" class="button button-start">Start</a>

    </div>
  </div>
</main>

{% endblock %}
