{% extends "layout_unbranded.html" %}

{% block page_title %}
  #sprintweek prototype
{% endblock %}

{% block content %}

{% include "includes/navigation_todo.html" %}

<main id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="todo">Back</a>

      <h1 class="heading-xlarge">
        <span class="heading-secondary">
          To-do
        </span>
        Undertake learning and development
      </h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error neque dolorem, placeat enim. In, atque cumque sequi tenetur, voluptas ut voluptates consectetur deserunt cupiditate laboriosam animi veritatis, ex neque fugiat!</p>
      <p>Mollitia voluptatibus rem, deserunt dicta distinctio hic quasi id ea, soluta ipsam assumenda, adipisci cupiditate dolores aspernatur quidem. Commodi provident est sunt explicabo consectetur saepe pariatur nostrum magnam sint deleniti!</p>
      <p>Suscipit, quas, soluta. Quaerat illo tenetur accusantium distinctio numquam esse. Quaerat veniam at deserunt voluptas culpa, corporis vel, repellat quo obcaecati dolores dicta vero maxime in nulla veritatis qui sit.</p>
      <p>Eius hic est velit similique sequi provident ex quia veritatis libero possimus eos optio vero voluptate dolore at repudiandae sint laudantium quidem tenetur, aliquam impedit sed esse qui. Doloremque, cupiditate!</p>

      <a class="button" href="journal-complete">Complete</a>

    </div>
  </div>
</main>

{% endblock %}
